
*{
  /* Inizializza box, margini e padding */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/* Navigation bar */
.navbar{
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid green; */
  text-align: center;
}
/* Reset stile ul*/
.navbar ul{
  /* Reset stile ul*/
  list-style: none;
}

.navbar li{
  display: inline-block;
  border-bottom: 3px solid black;
  line-height: 35px;
}

.navbar li:hover{
  color: rgb(0,155,100);
  text-shadow: 3px 3px rgba(0,0,0,0.1);
  border-color: rgb(0,155,100);
}

/* Contenitore di tutto il sito */
.container-content{
  width: 80%;
  margin: 10px auto;
}
/* /Contenitore di tutto il sito */

.header-block{
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 50px;
  top: 0;
  left:50%;
  transform: translate(-50%,0%);
  margin: 0 auto;

  background-color: rgba(255,255,255,0.9);
  /* Bordo */
  border-bottom: 2px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* Ombreggiatura */
  box-shadow: 2px 2px rgba(255,0,0,0.8);

}

.header-placeholder{
  width:100%;
  height: 40px; /* Mettere la stessa altezza di header - margine dall'alto di default */
}


/* Container di tutte le città */
.container-all-cities{
  width: 20%; /* Prendi dimensioni dal padre */
  background-color: rgba(255,0,0,0.8);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid black;
  display: inline-block;
}
/* Container di tutte le città */


/* Container città generica */
.container-city{
  position: relative;
  width: 100%; /* prendi altezza di container padre */
  margin-bottom: 20px;

  border: 5px solid black;
  border-radius: 15px;
  background-size: cover;
  height: 200px;
}
/* /Container città generica */

/* Foto città specifiche */
.container-city.roma{
  background-image: url(../img/roma.jpg);
}
.container-city.copenhagen{
  background-image: url(../img/copenhagen.jpg);
}
.container-city.tokyo{
  background-image: url(../img/tokyo.jpg);
}
/* Foto città specifiche */

/* Città selezionata */
.container-city-selected{
  width: 79%;
  height: 700px;
  background-image: url(../img/roma.jpg);
  background-size: cover;
  display: inline-block;
  border: 2px solid black;
  border-radius: 15px;
}
/* /Città selezionata */


/* ##### UTILITIES ##### */
.badge{
  position: absolute;

  /* Porta in sovraimpressione */
  z-index: 2; /* nota: Funziona solo con position != da static */
  /* Centratura badge */
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* /Centratura badge */

  /* Abbellimenti grafici */
  padding: 0 20px;
  border-radius: 20px;
  font-family: 'Cinzel', serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color:white;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 10px 10px rgba(0,0,0,0.5);
  text-shadow: 10px 10px rgba(0,0,0,0.5);
}

.badge:hover {
  background-color: rgba(0,0,0,0.8);
  border: 5px solid rgba(255,0,0,0.5);
}


/* Layer trasparente sull'immagine */
.layer-transparent{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: black;
  opacity:50%;
  /* border: 10px solid violet; */
}

.layer-transparent:hover{
  opacity:30%;
}
/* /Layer trasparente sull'immagine */

.footer-block{
  width: 100%;
  height: 500px; /* Serve a provare scroll */
  border-top: 1px solid rgba(0,0,0,0.5);
  border-left: 1px solid rgba(0,0,0,0.5);
  border-bottom: 2px solid rgba(0,0,0,1);
  border-radius: 15px;
  box-shadow: 2px 2px rgba(255,0,0,1);
}

/* ##### /UTILITIES ##### */
